.row{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.lst-card{width:100%;margin:6px 0;padding:15px;border:1px solid #ddd;border-radius:8px;cursor: pointer;}
.lst-num{margin-right:10px}
.lst-num, .lst-data{font-size:13px}